@{
	ViewBag.Title = "Pilots";
	string typeName = "Pilot";
}

<div class="container container-spacing-top mb-4">
	<div class="row mb-3">
		<div class="col d-flex justify-content-between align-items-center mb-2">
			@if (ViewBag.ApiUserRole != "User")
			{
				@await Html.PartialAsync("Index/_CreateButtonIndex", typeName)
				@await Html.PartialAsync("_ExportButtons", typeName)
			}
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-3 mb-2">
			<div class="input-group">
				<label for="firstName" class="input-group-text">First Name:</label>
				<input type="text" class="form-control" id="firstName" name="firstName">
			</div>
		</div>
		<div class="col-md-3 mb-2">
			<div class="input-group">
				<label for="lastName" class="input-group-text">Last Name:</label>
				<input type="text" class="form-control" id="lastName" name="lastName">
			</div>
		</div>
		<div class="col-md-3 mb-2">
			@await Html.PartialAsync("_ClearInputsButton")
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 mb-2">
			<div class="input-group">
				<label for="uprn" class="input-group-text">UPRN:</label>
				<input type="number" class="form-control" id="uprn" name="uprn">
			</div>
		</div>
		<div class="col-md-3 mb-2">
			<div class="input-group">
				<label for="flyingHours" class="input-group-text">Flying Hours:</label>
				<input type="number" class="form-control" id="flyingHours" name="flyingHours">
			</div>
		</div>
		<div class="col-md-3 mb-2">
			@await Html.PartialAsync("_SearchButton")
		</div>
	</div>
</div>

<div id="alert">
	@if (TempData["AlertMessage"] != null)
	{
		@await Html.PartialAsync("_AlertPartial", TempData)
	}
</div>

@await Html.PartialAsync("Index/_FormContainer")

@section Scripts {
	<script src="~/js/CommonFetch.js"> </script>
	<script>
		var typeName = '@typeName';
		var fetchUrl = '@Url.Action("GetPilots", typeName, new { area = "", name = "" })';

		initFetchControls(typeName, fetchUrl);
	</script>
	<script src="~/js/GetHelper.js"></script>
	<script src="~/js/OpenHelper.js"></script>
	<script src="~/js/AlertHelper.js"></script>
	<script src="~/js/ClearHelper.js"></script>
	<script src="~/js/ExportHelper.js"></script>
}