@{
	ViewBag.Title = "Travel Class";
	string typeName = "TravelClass";
}

<div class="container container-spacing-top mb-5">
	<div class="row mb-3">
		<div class="col d-flex justify-content-between align-items-center mb-2">
			@if (ViewBag.ApiUserRole == "Admin" || ViewBag.ApiUserRole == "SuperAdmin")
			{
				@await Html.PartialAsync("_ExportButtons", typeName)
			}
		</div>
	</div>
</div>

@await Html.PartialAsync("Index/_FormContainer")

@section Scripts {
	<script src="~/js/CommonFetch.js"> </script>
	<script>
		var typeName = '@typeName';
		var fetchUrl = '@Url.Action("GetTravelClasses", typeName, new { area = "", name = "" })';

		initFetchControls(typeName, fetchUrl);
	</script>
	<script src="~/js/GetHelper.js"></script>
	<script src="~/js/ExportHelper.js"></script>
}
