@model string

<div class="d-flex" data-entity="@Model">
    <a id="exportButtonPDF" class="btn btn-danger me-3 disabled" data-type="PDF">
        <i class="fas fa-file-pdf text-white"></i>
    </a>
    <a id="exportButtonEXCEL" class="btn btn-success" data-type="EXCEL">
        <i class="fas fa-file-excel text-white"></i>
    </a>
</div>

@Html.Partial("_LoadingSpinner")