<nav aria-label="Page navigation" class="mb-2">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <ul class="pagination mb-0">
            <li class="page-item">
                <a data-page="1" class="page-link clickable-row">First Page</a>
            </li>
            <li class="page-item">
                <a data-page="" class="page-link clickable-row">Previous</a>
            </li>
            <li class="page-item">
                <a data-page="" class="page-link clickable-row">Next</a>
            </li>
            <li class="page-item">
                <a data-page="" class="page-link clickable-row">Last Page</a>
            </li>
        </ul>
        <div class="d-flex align-items-center ml-3 flex-nowrap" style="white-space: nowrap; min-width: 160px; ">
            <label for="rowsPerPage" class="mr-2 mb-0">Items per page:</label>
            &nbsp;
            <select id="rowsPerPage" class="form-control form-control-sm text-center">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
</nav>
