.topbar-wrapper .link {
    content: url('AirportAutomationLogo.svg') !important;
    height: 30px;
    display: block;
    object-position: left;
    object-fit: contain;
}

.contact-link {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
}

.info__contact > a {
    font-weight: bold;
}